@model IEnumerable<WebShop.Model.ViewModel.CartItemViewModel>

@{
    ViewBag.Title = "Cart";
    decimal total = 0;
}

<h2>Your cart</h2>
@foreach (var item in Model)
{
    <div>
        <h4><b>@item.Product.ProductName</b></h4>
    </div>
    <div>
        @{var oneTotal = item.Quantity * (item.Product.Price - (item.Product.Price * (decimal)item.Product.Discount * 0.01m));}
        @item.Quantity X @item.Product.Price X @item.Product.Discount%= <b style="color:forestgreen">@oneTotal.ToString("0.00")</b>
        @{total += oneTotal;
        }
        <br />
    </div>
    <div>
        @Html.ActionLink("Remove the product", "Delete", "CartItem", new { productId = item.ProductId }, null)
    </div>
            }
<div><h3>Total:<b style="color:red">@total.ToString("0.00")</b></h3></div>
<div class="iso">
    <img src='~/Pictures/Cart.jpg' alt='Cart'>
</div>
<br />
<div>
    @Html.ActionLink("Back to shopping ", "Index", "Home")
</div>
<br />
<div>
    @Html.ActionLink("Clean of cart", "DeleteAll", "CartItem")
</div>
<br />
<div>
    @using (Html.BeginForm("", "Order"))
    {
        <input type="submit" value="Make an order" />
    }
</div>