@model WebShop.Model.ViewModel.ProductViewModelWithImage

@{
    ViewBag.Title = "Selected Product";
}

<br>
<h1>@Model.ProductName</h1>




 <img width=600 height="400" scr="@Url.Action("Image","Image",new {Model.ProductId})"/>
  




@*<img src='/Pictures/iron.jpg' alt='Iron' style='float:left ; width: 60%; height: 400px;'>*@    
           
<h2> @Model.Price  <b>$</b></h2>
<br>
<br>
<h4 style="color:red;text-align:center"> Сharacteristics : </h4>

<ul style="list-style-type: square;color:green;text-align:center;">
    <li>@Model.Description</li>
</ul>






 @Html.ActionLink("Add to Basket ", "Basket", "Product")

