@model WebShop.Model.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Selected Product";
}

<br>
<h1>@Model.ProductName</h1>
@{bool notImage = true; }
@foreach (var image in Model.Images)
{
    if (image.MainPicture)
    {
        <div class="iso">

            <img width="700" height="500" src="@Url.Action("GetImage", "Image", new { image.ImageId })" />
        </div>
        notImage = false;
        break;
    }
}
@if (notImage)
{
    <div class="iso">

        <img src='~/Pictures/No-photography.jpg' alt='Edit' style='width: 30%; height: 30%; border: 0'>
    </div>
}
<div>
    <h2> @Model.Price  <b>$</b></h2>
</div>
<div>
    @foreach (var image in Model.Images)
    {
        if (!image.MainPicture)
        {
            <div class="iso">
                <img width="300" height="200" src="@Url.Action("GetImage", "Image", new { image.ImageId })" />
            </div>
        }
    }
</div>
<div>
    <h4 style="color:red;text-align:center"> Сharacteristics : </h4>
    <ul style="list-style-type: square;color:green;text-align:center;">
        <li>@Model.Description</li>
    </ul>
</div>
<br>
@Html.ActionLink("Add to Basket ", "AddToCart", "CartItem", new {id = Model.ProductId, quantity = 1 }, null)

@using (Html.BeginForm("AddToCart", "CartItem"))
{
    @Html.HiddenFor(x =>x.ProductId)
    <input type="submit" value="Add to cart"/>
}
