@model WebShop.Model.ViewModel.ProductViewModelWithPartImage

@{
    ViewBag.Title = "Selected Product";
}

<br>
<h1>@Model.ProductName</h1>
@foreach(var element in Model.Images)
{
    @if (element.ProductId == Model.ProductId && Model.MainPicture == true)
    {
        <div class="iso">

            <img width="60" height="100" src= "@Url.Action("GetImage","Image", new  {Model.ProductId })"/>
        </div>
    }
}  
           
<h2> @Model.Price  <b>$</b></h2>
<br>
<br>
<h4 style="color:red;text-align:center"> Сharacteristics : </h4>

<ul style="list-style-type: square;color:green;text-align:center;">
    <li>@Model.Description</li>
</ul>






 @Html.ActionLink("Add to Basket ", "Basket", "Product")

