@model WebShop.Model.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Selected Product";
}

<br>
<h1>@Model.ProductName</h1>
@foreach (var element in Model.Figures)
{
    bool notImage = true;
    if (element.ProductId == Model.ProductId && element.MainPicture)
    {
        <div class="iso">

            <img width="700" height="500" src= "@Url.Action("GetImage","Image", new  {element.ImageId })"/>
        </div>
         notImage = false;
    }
    if(notImage)
    {
        <div class="iso">

            <img src='~/Pictures/No-photography.jpg' alt='Edit' style='width: 30%; height: 30%; border: 0'>
        </div>
    }
} 
<br> 
  @Html.ActionLink("Add to Basket ", "List", "Cart")
<div>
    <h2> @Model.Price  <b>$</b></h2>
</div>

<div>
<h4 style="color:red;text-align:center"> Сharacteristics : </h4>
<ul style="list-style-type: square;color:green;text-align:center;">
    <li>@Model.Description</li>
</ul>
</div>


