@model IEnumerable<WebShop.Model.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "ProductsOfSubcategory";
}

<h2>ProducsOfSubcategory</h2>

@foreach (var item in Model)
{

            @item.ProductName


            @item.Price


            @item.Discount


            @item.Description

    <br>
            @Html.ActionLink("Detail", "Detail", new { id = item.ProductId })
}
