@model IEnumerable<WebShop.Model.ViewModel.SubcategoryViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List Subcategory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubcategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubcategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubcategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubcategoryId })
        </td>
    </tr>
}

</table>
